# macOS
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Node / Frontend
node_modules/
*.tsbuildinfo
dist/
build/
.nuxt/
.output/
.vite/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Go
bin/
tmp/

# .NET
obj/

# PHP / Laravel
vendor/
storage/*.key

